.App {
  padding-left: 50%;
  display: flex;
  flex-direction: column;
}
.profileimg {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}
.info-content {
  margin-top: 5px;
}
h1 {
  color: rgb(26, 184, 236);
  
}

